@model PacienteGerenicModel
@{
    ViewData["Title"] = "Lista de Pacientes";
}
<div>
    <div class="container bg-light mt-5 shadow">
        <form class="row frm-pesq mt-5 p-3 rounded-3 bg-white " asp-controller="Paciente" asp-action="Index" method="get">
            <div class="col-lg-4">
                <input type="text" class="form-control" id="nome" asp-for="@Model.Nome" placeholder="Nome">
            </div>
            <div class="col-lg-4 p-3">
                <input type="email" class="form-control" id="email" asp-for="@Model.Email" placeholder="E-mail">
            </div>
            <div class="col-0 col-lg-2  ">
            </div>
            <div class="col-lg-2  col-md-12  display-flex justify-content-center  ">
                <button type="submit" class="btn btn-color shadow"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .7rem; --bs-btn-font-size: 1rem;">
                    Pesquisar
                </button>
            </div>
        </form>
    </div>

    <div class=" container d-grid gap-2 mt-4">
        <a class="btn btn-success" asp-controller="Paciente" asp-action="Criar" role="button">Adicionar</a>
    </div>
    <div class="container bg-white mt-5 rounded-2 shadow text-center p-2 mb-3 ">
        <table class="table table-striped">
            <thead class="bg-navbar text-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-md-table-cell">Email</th>
                    <th scope="col" class="d-none d-md-table-cell">Telefone</th>
                    <th></th>

                </tr>
            </thead>


            <tbody class="table-group-divider">

                @if (Model != null && Model.Pacientes.Any())
                {
                    foreach (PacienteModel paciente in Model.Pacientes)
                    {
                        <tr>
                            <th scope="row">@paciente.Nome</th>
                            <td class="d-none d-md-table-cell">@paciente.Email</td>
                            <td class="d-none d-md-table-cell">@paciente.Telefone</td>
                            <td>
                                <div>
                                    <a asp-controller="Paciente" asp-action="Mostrar" asp-route-id="@paciente.Id" class="btn btn-outline-primary">Ver</a>
                                    @*<a class="btn btn-outline-success" @("href="+"https://wa.me/55" + @paciente.Telefone) target="_blank" >Prontuario</a>*@

                                    <a class="btn btn-success btn-center" @("href="+"https://wa.me/55" + @paciente.Telefone) target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                            <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
                                        </svg><font style="vertical-align:inherit;" class="ms-1">Whatsapp</font>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }




            </tbody>
        </table>
    </div>
</div>